.PageItem {
  /*background-color: aqua;*/
  position: relative;
  margin-bottom: 1em;
  font-size: 25px;
}

.PageItem:hover, .SocialItem:hover {
  transition: ease-in .15s;
  color: white;
}

@media only screen and (max-height: 480px) { 
  .PageItem {
    position: relative;
    margin-bottom: 0;
    font-size: 25px;
  }
}

@media only screen and (min-width:1080px){
  .PageItem {
      /*background-color: aqua;*/
      position: relative;
      top: 30%;
      margin-right: 36px;
    }

    .PageItem:hover, .SocialItem:hover {
      transition: ease-in .15s;
      color: white;
    }
}